extends layout

block content
  div.center
    input(type='text', placeholder='Search Twitter...', id='search')
block scripts
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/search.js')