extends layout

block content
  .wrap
    h1= title
    #tweets
      .tweet#firstTweet= "Loading Tweets..."
block scripts
  script(src='/javascripts/jquery.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/functions.js')