extends layout

block content
  .wrap
    h1#title= title
    #tweets
      .tweet#firstTweet= "Streaming Tweets..."
block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/functions-stream.js')